body {   
	  font-family: PT serif;
	  font-size: 18px;    
    min-width: 375px;
    max-width: 1200px; 
    margin:0 auto;      
}
.region-content {
	background-color:#fff;	
}
h1, h2, h3, h4, h5 {
font-family: Montserrat;
}

.view-content {
	background-color:#fff;
	font-size:.75em;
}
.view-content span.btn.btn-info {
	margin:10px 3px 10px 0;
}

div.row dd {
	margin-left: 20px;
}

div.alert-info {
	display:none;
}
a.navbar-brand {
	font-weight: bold;
    font-family: montserrat;
    font-size: 1.6em;
    line-height: 1.2em;
    color: black !important;
    padding:40px 0 30px 15px;
    width:75%;
  }
  
#navbar{
    background-color: #ffffff; 
    color: #000000;	
  }

.navbar-header {
	float:none;
}

.navbar-default {
	color: #000000;
	background-color: #ffffff;
}
header.navbar-default {
	color: #000000;
	background-color: #ffffff;
}

.navbar-default .navbar-nav li a, .btn-info a {
	color: #000000;
	background-color: #ffffff;
}
.btn-primary{
   color: #000000;
   background-color: #ffffff;		
}

ul.menu.menu--main.nav.navbar-nav>li> {
	color:#000000 !important;
	background-color: #ffffff;
	float: right;
	margin-top: 0px;
	}
#navbar.navbar.navbar-default.container-fluid {
 	background-color: #ffffff; 	
 }

 body.background-image-dark {
 	/*background-image: url('/sites/default/files/HomePageBanner770.jpg'); */
 	/*background-image: url('/sites/default/files/Pathwayslogotitle.png'); */
 	background-repeat:no-repeat;
    background-position-y: 280px;
    background-position-x: 50%;
   
 }
 body.background-image-dark .region-content {
 	  margin-top: 250px;
 }

.warning {
	color:#A20000;
}
.note {
	font-size:.8em;
}
.additional-sources p {
	margin:3px 0 10px 10px;
}

/*** Sidebars ***/
div.region-sidebar-first .form-item select {
	width:100%;
}
div.region-sidebar-first button {
	margin:15px auto;
}
.add-footnotes-block {
	font-size: .8em;
}

.block-views-blocksearch-footnotes-footnote-search h2.block-title {
	font-size: 18px;
	font-weight:bold;
	
}


/***** Form elements *****/
section.bef-exposed-form {
	margin: 30px 0;
}
.filter-header .form-wrapper {
	width:25%;
	margin-right:1%;
	display:inline-block;
	/* float:left; */
}
.filter-header .field--name-field-project {
	width:40%;
}
.field--widget-string-textarea {
	width:65%;
	display:inline-block;
	vertical-align: top;
}

.form-wrapper .js-form-item.form-type-date {
	width: 48%;
	display:inline-block;
}


div.content div.field--label-above, div.content div.field--label-inline {
	margin:15px;
}

ul.menu--main {
  float: right;
	clear:both;
	background-image:none;
/*	background-color:#336A90; */
    background-color: #ffffff;
    color: #000000;	
}

	
/*
  .navbar-default{
	background-image: url("/sites/default/files/inline-images/headerxxxxxxx.jpg")!important;
	background-repeat: repeat;
}
*/

.well.region.region-navigation{
	background:none;
	border:none;
}

/** Header  **/

div.js-form-type-search div.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;         
  }
  
  a.logo img {
  	width:120px;
  }
  
  #search-block-form {
  	float: right;
    width: 30%;
    margin-top: 10px;
  }
  
  /*
.toplinks {	
	background-color: #CFC3AE !important;	
	background-repeat: no-repeat; 
	float: left;
  width: 100%;
  text-align: right; 
  margin: 0 0 0 0;
  display: inline  
	}
	*/
/*ul, li {
	list-style-type: none;
	display:inline-block;
	}
	*/

body.user-logged-in div.comment-view {
	margin-top:15px;
}

div.add-comment-link, div.report-page-views div.btn-info {
	display:none;
}

body.user-logged-in div.add-comment-link {
	display:block;
}	
body.user-logged-in div.report-page-views div.btn-info {
	display:inline;
	margin-top:20px;
}

/* Sidebars */

div.region-sidebar-first input.form-control {
	width: 98%;
}
	
span.btn-info a {
	color:#fff;
}

.navbar-nav a {
	background-color: #ffffff  !important;
  color: #000000!important;
}
.navbar-nav li {
  background-color: #ffffff !important;
  color: #000000 !important; 
}
ul.eyebrow(
list-style: none;
)
/*
#eyebrow #eyebrow-breadcrumb ul.hhs{
	list-style: none:
}
#eyebrow #eyebrow-breadcrumb li.hhs a {
    background: url(/sites/default/files/logo-hhs-small.png) no-repeat 0 1px !important;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}
#eyebrow #eyebrow-breadcrumb li.divider {
	background: url(/sites/default/files/eyebrow-divider.png) no-repeat 0 1px !important;
	 float: left;	
	 color: #FAF7F2;		
	}
#eyebrow #eyebrow-breadcrumb li.acf a {
    background: url(/sites/default/files/logo-acf-small.png) no-repeat 0 4px !important;
    float: right;    
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px; 
}
#eyebrow #eyebrow-breadcrumb li.acfdigital a {    
    float: right;    
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px; 
}
#eyebrow {
    height: 30px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: none repeat scroll 0 0 #CFC3AE !important;
    vertical-align: text-top;
    font-size: 13px;
    line-height: 1em;
    margin-bottom: 21px;    
}
#eyebrow .section {
    height: 30px;
    position: relative;     
}
#eyebrow a {
    color: #337ab7;
    text-decoration: none;
    margin-bottom: 10px;
}
 */
.breadcrumb > li {   
    font-size: smaller;
} 
    
ol, ul {
    list-style: none outside none; 
    
}

.introhome {	  
    font-size: 18px;  
}

.introbox { 	
    padding: 50px 20px 75px 20px;
    display: block;
    z-index: 1;
    color: Black;  
    font-size: 1.2em:
    width: 100%;    
    text-align: center;
    background-color: #E3F0FE;	
    border: 2px solid #264A64 !important;	
    height: auto; 
    margin: 20px 10px 20px 10px;  
}

.introboxabout { 	
    padding: 30px 20px 15px 10px;
    display: block;
    z-index: 1;
    color: Black;  
    font-size: 1.2em:
    width: 100%;    
    text-align: left;
    background-color: #E3F0FE;	
    border: 2px solid #264A64 !important;	
    height: auto; 
    margin: 20px 0px 15px 0px;  
}

.introboxfooter { 	
    padding: 20px 15px 20px 60px;
    display: block;
    z-index: 1;
    color: white;  
    font-size: 1em:
    width: 100%;    
    text-align: left;
    background-color: #000000;	
    border: 2px solid #264A64 !important;	
    height: auto; 
    margin: 20px 10px 0px 10px;  
}
p.introsub{
	text-align: center;
	font-size: 1.5em;	
	margin-right: 20px;
	width: 100%;
	margin-top: 30px;
	margin-bottom: auto; 
}
p.introsub2{
		font-size: 1.3em;	
}	
p.introsub3{		
		font-size: 1.1em;			
}	
	
#onlycontent {	
	  margin: 25px auto 25px auto;    
    padding-top: 20px;
    text-align: center;
    display: block;
    clear: both;
    width: 100%;
    max-width: 1000px;
    font-size: 1.2em;
}
#onlycontent-footer {	
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    text-align: center;
    font-size: smaller;
    display: block;
    clear: both;
    width: 100%;
    max-width: 1000px;
}
p.introcent{
	text-align: center;
	font-family: Montserrat;
}



/*
.outcomegriddivs {  
  width:350px;
  margin-left:20px;
  margin-right:0px;
  font-size: .933em; 

  background-image:url("/sites/default/files/images/outcomes/Outcomesgridside1.jpg")!important;	
  height:786px;  
  background-position:0px 0px; 
    background-repeat:no-repeat;
    display:inline-block;
    float:left;
    
}

.dvOutcomeGridLeftLinks {  
  width:350px;
  margin-left:20px;
  margin-right:0px;
  background-image:url("/sites/default/files/images/outcomes/Outcomesgridside1.jpg")!important;	
  height:786px;  
  font-size: .933em;

  background-position:0px 0px; 
    background-repeat:no-repeat;
    display:inline-block;
    float:left;    
    } 
    
 #dvOutcomeGridRightLinks{
     background-image:url("/sites/default/files/images/outcomes/Outcomesgridside2.jpg") !Important;
     float:right !important;
     font-size: .933em;
    
 }
 .outcomelinks {
 padding:3.25em .4em .4em .1em;
 width:135px;
 height:10.5em;
 margin: 0px 0px 23px 180px;

font-weight:bold;
font-size: .933em;

}
*/

 #maincontent {
    /* margin-top: 15px; */
    max-width: 100%;
    text-align: left;
    clear: both;
    line-height: 21px;
    margin: 0 auto;
}
  /* test1 research*/
.section-content {
    clear: both;
    margin-bottom: 20px;
    margin-left: 20px;
    display: block;
    height: auto !important;
    background-size: 75%;
    padding-left: 175px;
}
  
.section-content .intro {
    width: 85%;
    margin: 5px 0px 15px 0px;
}
.intro {
    margin: 5px 0px 25px 55px;
    display: block;
    z-index: 1;
    color: Black;
    background-color: #FAF7F2;
    border: 2px solid #264A64;
    height: auto;
    padding: 10px 20px 20px 20px;
    width: 85%;    
}
p.intro {
 font-size: .7228em;	
 font-family: pt serif;
}
ul.intro li{
 font-weight: normal;	
 list-style-type: hyphen !important;
}

p.outcomesbox {
 font-size: 1em;
}

ul.dsc li{
	list-style-type: hyphen;
}
 #topcontent, .section-content.effectiveness {
    background-image: url("/sites/default/files/images/banners/ModelsBanner3.jpg");
    background-position: 15px top;
    background-repeat: no-repeat;
    color: black;
    padding-left: 225px;
    padding-top: 4px;
    height: auto;
    width: 100%;
    margin-bottom: 0px;
}
ul.blts li {
	list-style-type: disc;
	font-weight: normal;	
	font-size: .7228em !important;
	}
.blts p{
	font-size:.8em;	
	font-weight: normal;
}
ul.b li{
  list-style-type: disc;
  font-weight: normal;  
}
ul.babt {
	list-style: none;	
}
ul.babt li {
	margin: 0;		
	text-indent:-12px;	
}
ul.babt li:before {
	content: '-  ';	
	text-indent:-5px;	
}

/*
 .section-content effectiveness{
   background-image: url("/sites/default/files/images/banners/ModelsBanner3.jpg");
    background-position: 15px top;
    background-repeat: no-repeat;
    color: black;
    padding-left: 225px;
    padding-top: 4px;
    height: auto;
    width: 75%;
    margin-bottom: 0px;
}

.section-content.implementations{
	  background-image: url("/sites/default/files/images/banners/ImplementationsBanner2.jpg");
    background-position: 15px top;
    background-repeat: no-repeat;
    color: black;
    padding-left: 225px;
    padding-top: 4px;
    height: auto;
    width: 100%;
    margin-bottom: 0px;
}
	
.section-content.tribal{
	  background-image: url("/sites/default/files/images/banners/TribalBanner2.png");
    background-position: 15px top;
    background-repeat: no-repeat;
    color: black;
    padding-left: 225px;
    padding-top: 4px;
    height: auto;
    width: 100%;
    margin-bottom: 0px;
}

.section-content.miechv.section-content.study {
    background-image: none;
    padding-left: 10px;
    width: 100% !important;
}   
  
.BackToTop {
    text-align: right !important;
    float: right !important;
  font-size: smaller;
}

*/

.notetext {
    font-size: .5em;
}

/* ** MIECHV** */
p.miechv {
  font-size: .75em;
}
.quick-edit-field, h1{
	Font-size:1.666em;
}

/* ** Research Page ** */
.h4 {
font-size: 15.6px;	
}

p.rschsub{
	font-size: .875em;
	font-weight: bold;	
}

p.rschsubsub{
	font-size: .7228em;
	font-weight: normal;	
}

#theleftmenu ul li.active-menu-item.last {
    border-bottom: solid 3px #d6d5b9;
}
#theleftmenu ul li.active-menu-item {
    border-top: solid 3px #d6d5b9;
    border-left: solid 2px #d6d5b9;
    background-color: #ffffff;
    width: 148px;
}
#theleftmenu ul li, #theleftmenu li ul li.first {
    border-top: solid 1px #ffffff;
}
#theleftmenu ul li {
    position: relative;
    border: none 0px;
}
#theleftmenu li {
    width: 150px;
    /* background-color: #e4e5c7; */     
}
.navbar-nav  li a {
	font-size: 16px;
	padding: 10px 20px 20px 20px;
	font-weight: bold;
}
p.toppd{
	padding-top: 4.5em;	
}
p.toppdfooter{
	padding-top: 6.5em;	
}

div.socmedia {
  font-size: smaller;
	line-height: 13px; 
}
.email-signup .email-signup-content input.form-submit {
    background-color: #ffffff;
    width: 50%;
    line-height: 25px;
    /* margin-top: -12px; */
    color: black;
    border: 1px solid #000;
    border: 1px solid #000;
    /* margin: 5px 25%; */
    margin-left: 0px;
    font-size: smaller;
    text-align: left;
}

.email-signup .email-signup-header .header-text {
    width: 60%;
    padding: 5px 15px 5px 0px;
    display: block;
    float: left;
    font-size: 1em;
    font-weight: normal;
}
.email-signup .email-signup-content {
    background-color: #ffffff;
    padding: 8px 8px;
    color: #000000;
}
div.button-video {
    width: 150px;
    margin: 15px auto 0px auto;
}
a.button-video {
    color: white;
    background-color: #000000;
    font-size: .7em;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px 10px 20px;
    line-height: .7em;
    float: left;
    border: 2px solid #ccc;
    background-color: #000000;
    display: block;
}
div.js-form-type-search div.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 60%;
    float: right;
}