{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('mpr/usamap') }}
{% if title %}
  <h3>{{ title }}</h3>

{% endif %}

  <path {{ attributes.setAttribute('d', fields.field_svg_path.content) }}  {{ attributes.setAttribute('class',fields.field_dual_eligible_special_need.label ~ '-' ~ fields.field_dual_eligible_special_need.content ~ ' ' ~ fields.field_financial_alignment_demons.label ~ '-' ~ fields.field_financial_alignment_demons.content ~ ' ' ~ fields.field_medicaid_managed_long_term.label ~ '-' ~ fields.field_medicaid_managed_long_term.content) }}
 fill="#77bcff" fill-opacity="1" opacity="1" stroke="#ffffff" stroke-linejoin="round" stroke-opacity="1" stroke-width="1.875" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; cursor: pointer; stroke-opacity: 1; stroke-linejoin: round; fill-opacity: 1;" transform="matrix(0.487,0,0,0.487,0,0)"/>
   {{ attributes.removeAttribute('d') }} 
    {{ attributes.removeAttribute('class') }} 

    <text {{ attributes.setAttribute('x', fields.field_text_x.content) }} {{ attributes.setAttribute('y', fields.field_text_y.content) }}>
 {{ attributes.removeAttribute('x').removeAttribute('y') }} 
    <tspan{{ attributes.setAttribute('dy', fields.field_tspan_dy.content) }}>

       {{ fields.field_state_abbr.content }}

    </tspan>
</text>

